{{#each personInfo}}
    <p>{{this.id}}</p>
    <p>{{this.first_name}}</p>
    <p>{{this.last_name}}</p>
    <p>{{this.email}}</p>
    <p>{{this.gender}}</p>
    <p>{{this.ip_address}}</p>
    <br>
{{/each}}
